@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

tr{
 width: 25%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: 56px;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px - 56px);
}

body.fixed-nav {
  padding-top: 56px;
}

.content-wrapper {
  /*min-height: calc(100vh - 56px);*/
  padding-top: 1rem;
  overflow-x: hidden;
  background: white;
  margin-bottom: 60px
}

body.background {
  background: url(../images/bg3.jpg) no-repeat 100% 100%;
  background-size: cover;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.main-section{
  background:url('../images/bg3.jpg') no-repeat;
  background-size:100% 100%;
  margin: 0px;
  width: 100%;
}
.user-login-header,.login-image-main{
  margin-top: 50px;
}
.user-login-header h1{
  font-size: 45px;
  color:#fff;
}
.user-login-header p,.last-part p{
  color:#c9c5c7;
}
.user-login-header span{
  color:#fff;
  font-weight: 600;
}
.login-image-main{
  padding: 30px;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0 0 5px 0 #fff;
}
.user-image-section img{
  background-color: #B56162;
  padding:30px;
  height:150px;
  width:150px;
  border-radius: 50%;
}
.user-login-box,.last-part{
  padding:20px;

}
.user-login-box a,.user-login-box a:hover{
  background-color: #B56162;
  border:1px solid #B56162;
  width: 100%;
  color:#fff;
  font-weight:600;
}
.last-part a{
  text-decoration: none;
  color:#B56162;
}
.st-login-box{
max-width:50%;
}

.register-header{
  margin-top: 1px;
}
.register-header h1{
  font-size: 32px;
  color:#fff;
}
.register-header p,.last-part p{
  color:#c9c5c7;
}
.register-header span{
  color:#fff;
  font-weight: 500;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #e9ecef;
  line-height: 40px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}




body {
  padding-top: 20px;
}

.panel-body .btn:not(.btn-block) {
  width: 120px;
  margin-bottom: 10px;
}

.b:hover {
  color: hotpink;
}


.dropdown-item:hover {
  color: #FFFFFF;
  background: #e6e6e6;
}



/*** LOGIN ***/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.login-block {
  background: #DE6262;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgb(173, 144, 126), rgb(41, 18, 18));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 30px 0;
}

.banner-sec {
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}

/*
.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}*/

.carousel-inner {
  border-radius: 0 10px 10px 0;
}

.carousel-caption {
  text-align: left;
  left: 5%;
}

.login-sec {
  padding: 50px 30px;
  position: relative;
}

.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}

.login-sec .copy-text i {
  color: #FEB58A;
}

.login-sec .copy-text a {
  color: #E36262;
}

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: rgb(153, 34, 34);
}

.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FEB58A;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto
}

.btn-login {
  background: rgb(141, 49, 49);
  color: #fff;
  font-weight: 600;
}

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}

.banner-text h2 {
  color: #fff;
  font-weight: 600;
}

.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FFF;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}

.banner-text p {
  color: #fff;
}


.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}



/*** PROCUREMENT STAFF DASHBOARD ***/
.card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #FFF;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover{
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary{
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger{
  background-color: #ef5350;
  color: #FFF;
}  

.card-counter.success{
  background-color: #66bb6a;
  color: #FFF;
}  

.card-counter.info{
  background-color: #26c6da;
  color: #FFF;
}  

.card-counter i{
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers{
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name{
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

.checked {
  color: orange;
}